/*--------------Nav-bar import from style.css------------------*/
*
{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: 1px solid red ;
    box-sizing: border-box;
}
/*--------------Main------------------*/

h1
{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: var(--red);
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}

.first-container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.container-piano
{
    margin: 3rem 0;
    background-color: var(--black);
    border-radius: 50px;
    min-width: 35vh;
    height: 50vw;
}

.big-box
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 4rem 2rem;
    gap: 40px;
}
.box
{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 20px;
}
.box h2
{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--red);
    padding: 1rem 0;
}
.box p
{
    text-align:left;
    font-size: 1rem;
    padding: 1rem;
}
.container-last
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.last-part
{
    text-align: center;
}
.lesson-video
{
    padding: 2rem 0;
    min-width: 10vh;
    height: 50vw;
}

.piano-footer
{
    text-align: center;
    padding: 1.5rem 0 7rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 0;
}

/* piano keys */
.piano-instrument
{
    display: flex;
    justify-content: center;
    height: 100%;
}

.key 
{
    background-color: var(--red);
}

.white 
{
    width: 6vh;
    height: 80%;
    background-color: var(--white);    
    border: 3px solid var(--black);
}

.black 
{
    width: 3vh;
    height: 60%;
    background-color: var(--black);
    margin-left: -2vh;
    margin-right: -2vh;
    z-index: 2;
}
    
@media (min-width:640px){

h1
{
    font-size: 3rem;
}

.first-container
{
    padding-top: 1rem;
}
.container-piano, .lesson-video
{
    min-width: 80vh;
    height: 30vw;
}

.big-box
{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.box h2
{
    font-size: 2.2rem;
    padding: 1rem 0;
}
.box p
{
    font-size: 1.5rem;
}
.container-last
{
    padding-top: 1rem;
}

.lesson-video
{
    width: 80vh;
    height: 35vw;
}

.piano-footer
{
    padding: 2rem 0;
    font-size: 1.5rem;
    padding: 1.5rem 0 7rem 0;
}

/* piano keys */
.piano-instrument
{
    display: flex;
    justify-content: center;
    height: 100%;
}

.key 
{
    background-color: var(--red);
}

.white 
{
    width: 9vh;
    height: 80%;
    background-color: var(--white);    
    border: 3px solid var(--black);
}

.black 
{
    width: 6vh;
    height: 60%;
    background-color: var(--black);
    margin-left: -3vh;
    margin-right: -3vh;
    z-index: 2;
}
    
}
@media (min-width: 766px){
.container-parts
{
    padding-left: 5rem;
}
.container-piano, .lesson-video
{
    min-width: 90vh;
    height: 30vw;
}

h1
{
    font-size: 3rem;
}

.first-container
{
    padding-top: 1rem;
}

.big-box
{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.box h2
{
    font-size: 2.2rem;
    padding: 1rem 0;
}
.box p
{
    font-size: 1.5rem;
}
.container-last
{
    padding-top: 1rem;
}

.lesson-video
{
    width: 80vh;
    height: 35vw;
}

.piano-footer
{
    padding: 2rem 0;
    font-size: 1.5rem;
    padding-left: 5rem;
}
/* piano keys */
.piano-instrument
{
    display: flex;
    justify-content: center;
    height: 100%;
}

.key 
{
    background-color: var(--red);
}

.white 
{
    width: 12vh;
    height: 80%;
    background-color: var(--white);    
    border: 3px solid var(--black);
}

.black 
{
    width: 7vh;
    height: 60%;
    background-color: var(--black);
    margin-left: -5vh;
    margin-right: -5vh;
    z-index: 2;
}
}
@media (min-width:1024px){

.piano-footer, .container-parts
{
    padding-left: 7rem;
}

h1
{
    font-size: 4rem;
}

.first-container
{
    padding-top: 1rem;
}
.container-piano, .lesson-video
{
    min-width: 110vh;
    height: 30vw;
}

.big-box
{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.box h2
{
    font-size: 2.2rem;
    padding: 1rem 0;
}
.box p
{
    font-size: 1.5rem;
}
.container-last
{
    padding-top: 1rem;
}

.lesson-video
{
    width: 60vh;
    height: 35vw;
}

.piano-footer
{
    padding: 2rem 0;
    font-size: 1.5rem;
}
/* piano keys */
.piano-instrument
{
    display: flex;
    justify-content: center;
    height: 100%;
}

.key 
{
    background-color: var(--red);
}

.white 
{
    width: 15vh;
    height: 80%;
    background-color: var(--white);    
    border: 3px solid var(--black);
}

.black 
{
    width: 8vh;
    height: 60%;
    background-color: var(--black);
    margin-left: -5vh;
    margin-right: -5vh;
    z-index: 2;
}
}

@media (min-width:1280px){

.container-parts
{
    padding-left: 5rem;
}
h1
{
    font-size: 5rem;
}

.container-piano
{
    margin: 5rem 0;
    min-width: 150vh;
    height: 30vw;
}

.big-box
{
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 60px;
    padding: 3rem 4rem;
}

.box h2
{
    font-size: 3rem;
}
.box p
{
    font-size: 1.5rem;
    padding: 2rem 1rem;
}

.last-part
{
    text-align: center;
}
.lesson-video
{
    width: 130vh;
    height: 30vw;
}

.piano-footer
{
    padding-left: 4.5rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}
/* Piano keys */
.piano-instrument
{
    display: flex;
    justify-content: center;
    height: 100%;
}

.key 
{
    background-color: var(--red);
}

.white 
{
    width: 15vh;
    height: 80%;
    background-color: var(--white);    
    border: 3px solid var(--black);
}

.black 
{
    width: 10vh;
    height: 60%;
    background-color: var(--black);
    margin-left: -5vh;
    margin-right: -5vh;
    z-index: 2;
}
}
