
*
{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root
{
   --white: #fff;
   --yellow: #E0A225;
   --black: #000;
   --red: #D12626;
}

body
{
    width: 100%;
    margin: auto;
    background-color: var(--yellow);
}

.grid-container 
{
    background-color: var(--black);
    position: fixed;
    width: 100%;
    height: 10vh;
    top: auto;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
}

.grid-container a img 
{
    max-width: 25px;
}
  
.item5 
{
    grid-area: 1 / 3 / 2/ 4;
}

.item1,.item2,.item3,.item4
{
    filter: invert(100%);
}
.item1:hover,.item2:hover,.item3:hover,.item4:hover,.item5:hover
{
    filter:contrast(10%) sepia(1) hue-rotate(-40deg) saturate(1000%);
}

/* END Nav bar */

/* START topofpage */

.mainSite
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.8fr auto auto;
}

.textcontent 
{
    text-align: center;
}

.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.maincontent 
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding: 0 2rem;
    align-items: center;
}


.piano 
{
    border-style: dashed;
    padding: 1rem;
    width: 80vh;
}

.title_1 
{
    font-family: 'Roboto Slab', serif;
    font-size: 5rem;
    font-weight: bolder;
    color: var(--red);
    margin-bottom: 1rem;
}

.content_1 
{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
    margin-bottom: 1rem;
}


.see_more
{
    padding: 1rem 2rem;
    border-radius: 25px;
    border-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.0rem;
    font-weight: bolder;
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

.see_more:hover 
{
    background-color: var(--white);
    color: var(--red);
    font-weight: bolder;
}


/* END topofpage */

/* START BottomOfPage */

.big-box_1 
    {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    margin: 3rem 0;
    padding: 0 2rem;
    gap: 3rem;
    }

.box_1 
{
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 40px; 
    padding: 2rem 0;
}

.box_1 h2 
{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--red);
    margin-bottom: 1rem;
}

.box_1 p 
{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
}

.copyrights
{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black); 
    text-align: center;
    margin: 1rem 0 7rem 0;
    margin-right: 50px;
    margin-left: 50px;

}
/* END BottomOfPage */

@media (min-width:640px){

    .maincontent 
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px;
        padding: 0 2rem;
        align-items: center;
        justify-items: center;
    }

    .big-box_1 
    {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    margin: 3rem 0;
    padding: 0 2rem;
    gap: 3rem;
    }

}

@media (min-width: 768px) {

    .mainSite,.copyrights  
    {
        margin-left: 5rem;
        margin-bottom: 1rem;
    }

    .grid-container 
    {
        position: fixed;
        width: 10vh;
        height: 100%;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        background-color: var(--black);
        align-items: center;
        text-align: center;
    }

    .grid-container a img 
    {
        max-width: 40px;
    }

    .item5 
    {
        grid-area: 1;
    }

    .piano
    {
    border-style: dashed;
    padding: 1rem;
    width: 80vh;
    justify-items: center;
    }
}

@media (min-width: 1024px) {

    .mainSite 
    {
        margin-left: 5rem;
    }

    .maincontent 
    {
        justify-items: center;
    }

}

@media (min-width: 1280px) {

/* START topofpage */

.mainSite 
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.8fr auto auto;
    padding-left: 7rem;
    background-color: #E0A225;
}

.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.maincontent 
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 2rem;
    align-items: center;
}


.piano 
{
    border-style: dashed;
    padding: 1rem;
}

.title_1 
{
    font-family: 'Roboto Slab', serif;
    font-size: 5rem;
    font-weight: bolder;
    color: var(--red);
    margin-bottom: 1rem;
}

.content_1 
{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
    margin-bottom: 1rem;
}


.see_more
{
    padding: 1rem 2rem;
    border-radius: 25px;
    border-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.0rem;
    font-weight: bolder;
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

.see_more:hover 
{
    background-color: var(--white);
    color: var(--red);
    font-weight: bolder;
}


/* END topofpage */

/* START BottomOfPage */

.big-box_1 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    margin: 3rem 0;
    padding: 0 2rem;
    gap: 3rem;
}

.box_1 
{
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 40px; 
    padding: 2rem 0;
}

.box_1 h2 
{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--red);
    margin-bottom: 1rem;
}

.box_1 p 
{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
}

.copyrights

{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black); 
    text-align: center;
    margin: 1rem 0 1rem 7rem;
}

}